<section
    class="bg-blue-50 py-20 px-6 text-center"
    data-aos="fade-up"
    data-aos-duration="800"
  >
    <div class="max-w-xl mx-auto">
      <h2
        class="font-serif text-3xl sm:text-4xl font-semibold text-blue-800 mb-6"
      >
        Primera toma de contacto gratis
      </h2>

      <p class="text-lg text-blue-700 mb-8 leading-relaxed">
        Un primer encuentro para conocernos, charlar sobre lo que te trae acá.
      </p>
      <a
        href="facetime:silvia.usach@example.com"
        class="px-8 py-3 bg-blue-600 text-white font-medium text-lg rounded-full shadow-lg border-2 border-transparent
         transition-all duration-300 ease-in-out
         hover:bg-white hover:text-blue-600 hover:border-blue-600
         active:bg-yellow-400 active:text-black active:border-yellow-500 active:shadow-xl mt-5"
      >
        Hablamos ahora
      </a>
    </div>
  </section>