<section class="relative min-h-[650px] sm:h-[750px] overflow-hidden">
  <!-- Imagen de fondo -->
  <div
    class="absolute inset-0 bg-[url('/images/terapia.jpg')] bg-center bg-cover opacity-60"
    style="background-attachment: scroll; transform: translateZ(0);"
  ></div>

  <!-- Capa con contenido -->
  <div
    class="relative z-10 max-w-4xl mx-auto px-6 py-16 sm:px-8 sm:py-24 text-center text-gray-800 bg-white/80 backdrop-blur-sm rounded-lg shadow-lg"
    data-aos="fade-in"
    data-aos-duration="1000"
  >
    <h2 class="text-2xl sm:text-4xl font-serif font-semibold mb-6 sm:mb-10">
      Sobre la terapia
    </h2>
    <p class="text-xl sm:text-4xl font-script italic leading-relaxed sm:leading-loose indent-6 sm:indent-8 relative z-10 pb-6 sm:pb-10">
      <span class="text-blue-300 text-4xl sm:text-6xl absolute -left-4 -top-6 select-none z-0">&ldquo;</span>
      Cuando no aprendimos a conocernos, muchas veces decidimos desde la urgencia o la confusión.
      Sentimos que no tenemos el control de lo que nos pasa, como si la vida se moviera sin que podamos elegir.
      La terapia no cambia lo que ocurre, pero sí cambia cómo lo enfrentamos.
      Es un acto de amor propio dejar de sobrevivir en piloto automático y empezar a responder con conciencia y cuidado.
      <span class="text-blue-300 text-4xl sm:text-6xl align-bottom select-none">&rdquo;</span>
    </p>
  </div>
</section>
