---
import "../styles/tailwind.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import WhatsappFloat from "../components/WhatsappFloat.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Silvia Usach Terapia Online</title>
    <meta
      name="description"
      content="Psicóloga especializada en terapia online. Acompañamiento profesional desde Argentina al mundo."
    />
    <slot name="head" />
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.4/dist/aos.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  </head>
  <WhatsappFloat />
  <body class="font-sans bg-gray-100 text-gray-900">
    <Navbar />
    <main class="container mx-auto p-6">
      <slot />
    </main>
    <Footer />
    <script src="https://unpkg.com/aos@2.3.4/dist/aos.js" onload="AOS.init();"
    ></script>
  </body>


</html>
